.equipment {
    background-color: palevioletred;
    min-height: 100vh;
}

.equipment-text {
    text-align: left;
    font-size: 25pt;
    font-weight: 400;
    padding-left: 25px;
}

.equipment-text p {
    margin: 0;
}
