.description {
    text-align: center;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    margin: 0 auto;
    padding-bottom: 20px;
    /* background-color: thistle; */
}

.description p {
    color: black;
    font-size: 25pt;
    width: 80%;
    text-align: left;
    padding: 45px 25px 0 25px;
}
