.description {
    text-align: center;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    margin: 0 auto;
    padding-bottom: 20px;
}

.fullDesc,
.shortDesc {
    color: black;
    font-size: 18pt;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}

.shortDesc {
    padding: 10px 25px 0 25px;
}

.fullDesc {
    padding: 0 25px 0 25px;
}

.eachDay {
    text-decoration: none;
    position: relative;
    opacity: 0.9;
    border-color: black;
}

.eachDay a {
    color: white;
}

.eachDay img {
    position: relative;
    width: 100%;
    object-fit: cover;
    opacity: 1;
}

.addText {
    display: none;
    position: absolute;
    color: white !important;
    font-size: 20pt !important;
    font-weight: 400;
    width: 600px !important;
    top: 240px;
    left: 0;
    display: block;
    z-index: 1;
}

.hoverLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0.45;
}

.backImage {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20pt;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 10px;
    z-index: 1;
}

.backImage a {
    font-size: 25pt;
    padding: 25px;
}

.photoGallery {
    width: 95%;
    margin: 0 auto;
}

.photoGallery p {
    font-size: 40pt;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

ul div {
    display: flex;
}

li:nth-child(1),
li:nth-child(2) {
    list-style-type: none;
    width: 445px;
    height: 325px;
    margin-right: 20px;
    margin-bottom: 20px;
}

li:nth-child(3) {
    list-style-type: none;
    width: 445px;
    height: 325px;
    margin-bottom: 20px;
}

li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h5 {
    font-style: italic;
    font-size: 18pt;
    width: 95%;
    margin: 0 auto;
    padding-top: 20px;
}

.tourist {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}

.eachDay p {
    position: relative;
    top: 550px;
    z-index: 111111;
    color: white;
    font-size: 40pt;
    margin: 0;
}

.fullDesc p {
    margin: 0 auto;
    width: 95%;
    padding-top: 20px;
}

.fullDesc {
    margin-bottom: 20px;
}
