.navigation {
    text-align: center;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: left;
}

.headerLinks {
    padding: 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.headerLinks a {
    padding-right: 20px;
    font-size: calc(5px + 2vmin);
    color: white;
    cursor: pointer;
    text-decoration: none;
}

[data*="black"] a {
    color: black;
}
